.mainButton {
  background: #EA7C69;
  box-shadow: 0 8px 24px rgba(234, 124, 105, 0.3);
  border-radius: 8px;
  height: 48px;
  width: 100%;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: #FAFAFA;
  border: none;
}