.tabMenu {
  menu {
    border-bottom: 1px solid #393C49;
    display: flex;
    list-style: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    :not(:last-child) {
      padding-right: 32px;
    }
    li {
      padding-bottom: 13px;
      position: relative;
      cursor: pointer;
      .active {
        content: '';
        position: absolute;
        left: 0;
        bottom: -2px;
        background-color: #EA7C69;
        width: 40px;
        height: 3px;
        border-radius: 3px;
      }
    }
  }
}